@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.desc--display {
  padding-top: 32px;
  line-height: 125%;
  color: #3C322D;
}

.link--display {
  display: none;
  color: #3C322D;
  font-size: 16px;
  padding-top: 16px;
}

@media (max-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
  .desc--display {
    display: none;
  }
  .text--display {
    display: none;
  }
  .link--display {
    display: block;
  }
}
@media (max-width: 320px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
}
.header {
  padding-top: 36px;
  padding-bottom: 65px;
  display: flex;
  align-items: center;
}
.header .container {
  display: flex;
  align-items: center;
}
.header__wrapper {
  display: flex;
  gap: 55px;
}
.header__list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.header__link {
  color: #3C322D;
}
.header__icon {
  fill: #3C322D;
  width: 158px;
  height: 70px;
}

.hero {
  background-image: url(../image/hero-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.hero__icon {
  width: 16px;
  height: 16px;
  fill: #3C322D;
}
.hero__list {
  display: flex;
  gap: 16px;
  padding-top: 32px;
}
.hero__title {
  font-weight: 600;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 60px;
  line-height: 65px;
  color: #3C322D;
}
.hero__subtitle {
  font-weight: 500;
  font-size: 24px;
  font-family: "Montserrat Alternates", sans-serif;
  padding-top: 20px;
  padding-bottom: 28px;
  color: #3C322D;
}

@media (max-width: 768px) {
  .hero__title {
    font-size: 30px;
  }
  .hero__subtitle {
    font-size: 16px;
  }
  .hero__list {
    justify-content: center;
  }
}
@media (max-width: 320px) {
  .hero {
    text-align: center;
  }
  .hero__title {
    font-size: 28px;
  }
  .hero__subtitle {
    font-size: 16px;
  }
}
.about {
  padding-top: 90px;
}
.about .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 32px;
}
.about .title {
  padding-bottom: 28px;
}
.about__desc {
  padding-top: 32px;
  line-height: 125%;
  color: #3C322D;
}

@media (max-width: 768px) {
  .about__image {
    width: 336px;
    height: 359px;
  }
  .about__desc {
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  .about .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .about__image {
    width: 280px;
    height: 285px;
    margin: 0 auto;
  }
}
.program {
  padding-top: 100px;
  padding-bottom: 100px;
}
.program__icon {
  width: 24px;
  height: 24px;
}
.program__item {
  display: flex;
  gap: 16px;
  flex-direction: row;
  align-items: center;
  color: #3C322D;
}
.program .title {
  padding-bottom: 24px;
}
.program__text {
  width: 392px;
  color: #3C322D;
}
.program__clause {
  border-radius: 50%;
  width: 288px;
  height: 288px;
  text-align: center;
  color: #FFFFFF;
  border: 1px solid #F3848C;
  position: relative;
}
.program__clause:nth-child(1) {
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(156, 156, 156, 0)), url("../image/cooking-classes.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.program__clause:nth-child(3) {
  margin-top: 36px;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(156, 156, 156, 0)), url("../image/type-event.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.program__clause:nth-child(4) {
  top: 60px;
  margin-top: 40px;
  margin-left: 138px;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(156, 156, 156, 0)), url("../image/host-speaks.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.program__clause:nth-child(2) {
  top: 60px;
  margin-left: 138px;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(156, 156, 156, 0)), url("../image/number.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.program__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px 0px;
}
.program__roster {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 140px;
}
.program__container {
  display: flex;
}
.program__description {
  font-size: 16px;
  padding-top: 16px;
}
.program__subtitle {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 24px;
  font-weight: 500;
  padding-top: 191px;
}

@media (max-width: 768px) {
  .program__text {
    width: 329px;
  }
  .program__clause {
    width: 152px;
    height: 152px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
  }
  .program__clause:nth-child(2) {
    margin-left: 38px;
    right: 0;
  }
  .program__clause:nth-child(3) {
    margin-top: 0;
  }
  .program__clause:nth-child(1) {
    margin-top: 0;
  }
  .program__clause:nth-child(4) {
    margin-left: 38px;
    right: 0;
    top: 0;
  }
  .program__subtitle {
    font-size: 16px;
    padding-top: 55px;
  }
  .program__description {
    font-size: 14px;
    padding-top: 8px;
  }
  .program__roster {
    width: 600px;
    padding-left: 40px;
  }
  .program__desc {
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  .about .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.speakers {
  padding-bottom: 101px;
}
.speakers .container {
  text-align: center;
}
.speakers__list {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  padding-top: 5px;
}
.speakers__image {
  width: 288px;
  height: 305px;
}
.speakers__item {
  text-align: center;
}
.speakers__subtitle {
  font-weight: 600;
  color: #3C322D;
  padding: 20px 0px;
}
.speakers__desc {
  font-weight: 500;
  font-size: 16px;
  color: #3C322D;
}

@media (max-width: 768px) {
  .speakers__image {
    width: 152px;
    height: 160px;
  }
  .speakers__desc {
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  .speakers__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-basis: calc((100% - 30px) / 2);
  }
  .speakers__image {
    width: 130px;
    height: 141px;
  }
  .speakers__desc {
    font-size: 12px;
  }
  .speakers__subtitle {
    font-size: 16px;
    padding: 12px 0px;
  }
}
.price .title {
  text-align: center;
  padding-bottom: 27px;
}
.price .button {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}
.price__list {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}
.price__roster {
  padding: 0px 10px;
}
.price__item {
  box-shadow: 10px 15px 25px 0px rgba(210, 201, 201, 0.45);
  border-radius: 25px;
  width: 394px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.price__item:hover {
  border: 1px solid #F3848C;
}
.price__icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.price__clause {
  display: flex;
  gap: 17px;
  align-items: center;
  padding-top: 16px;
}
.price__subtitle {
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-size: 20px;
  font-style: bold;
  padding-top: 28px;
}
.price__item:nth-child(1) .price--button {
  text-align: center;
  margin-top: 258px;
}
.price__item:nth-child(2) .price--button {
  text-align: center;
  margin-top: 160px;
}
.price__item:nth-child(3) .price--button {
  text-align: center;
  margin-top: 40px;
}
.price__desc {
  font-size: 18px;
  display: block;
  line-height: 100%;
}

.reviews {
  padding: 100px 0;
}
.reviews .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__list {
  display: flex;
  align-items: center;
  padding: 28px 0 27px;
  gap: 32px;
}
.reviews__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}
.reviews__name {
  font-family: "Montserrat", sans-serif;
  color: #2E2520;
  font-weight: 500;
  font-size: 16px;
}
.reviews__stars-list {
  display: flex;
  align-items: center;
  gap: 4px;
}
.reviews__stars-vector {
  width: 24px;
  height: 24px;
}
.reviews__text {
  font-family: "Montserrat", sans-serif;
  color: #3C322D;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 28px;
  text-align: center;
}
.reviews__date {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.registration {
  padding-bottom: 126px;
}
.registration .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.registration__wrap {
  display: flex;
  align-items: center;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.registration__form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer {
  padding: 100px 0 101px;
}
.footer .container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer__phone, .footer__town {
  font-family: "Montserrat", sans-serif;
  color: #2E2520;
  font-weight: 400;
  font-size: 16px;
}

.title {
  font-weight: 500;
  font-size: 32px;
  color: #3C322D;
  font-family: "Montserrat Alternates", sans-serif;
}

@media (max-width: 320px) {
  .title {
    text-align: center;
  }
}
.button {
  background-color: #F3848C;
  width: 145px;
  padding: 9px 35px;
  border-radius: 25px;
  color: #FCFCFC;
  border: none;
  font-size: 18px;
  box-shadow: 10px 15px 25px 0px rgba(232, 183, 183, 0.45);
}
.button--header {
  color: #FCFCFC;
  background: linear-gradient(to bottom, #ff8c87 0%, #FD568F 100%);
  border: none;
  font-size: 18px;
  margin-left: 20px;
  height: 30px;
  box-shadow: 0px 7px 27px -2px rgba(253, 88, 140, 0.35);
}