@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.container {
  width: 1248px;
  margin: 0 auto;
}

.header {
  padding-top: 36px;
  padding-bottom: 65px;
}
.header__wrapper {
  display: flex;
  gap: 55px;
}
.header__list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.header__link {
  color: #3C322D;
}
.header__link--background {
  color: #FCFCFC;
  background-image: linear-gradient(to bottom, #ff8c87 0%, #FD568F 100%);
  padding: 6px 8px;
}

.hero {
  padding-bottom: 90px;
}
.hero__icon {
  width: 16px;
  height: 16px;
  fill: #3C322D;
}
.hero__list {
  display: flex;
  gap: 16px;
  padding-top: 32px;
}
.hero__title {
  font-weight: 600;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 60px;
  line-height: 65px;
  color: #3C322D;
}
.hero__subtitle {
  font-weight: 500;
  font-size: 24px;
  font-family: "Montserrat Alternates", sans-serif;
  padding-top: 20px;
  padding-bottom: 28px;
  color: #3C322D;
}

.about .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 32px;
}
.about .title {
  padding-bottom: 28px;
}
.about__desc {
  padding-top: 32px;
  line-height: 125%;
  color: #3C322D;
}

.program {
  padding-top: 100px;
  padding-bottom: 100px;
}
.program__icon {
  width: 24px;
  height: 24px;
}
.program__item {
  display: flex;
  gap: 16px;
  flex-direction: row;
  align-items: center;
  color: #3C322D;
}
.program .title {
  padding-bottom: 24px;
}
.program__text {
  width: 392px;
  color: #3C322D;
}
.program__clause {
  border-radius: 50%;
  width: 288px;
  height: 288px;
  text-align: center;
  color: #FFFFFF;
  border: 1px solid #F3848C;
  position: relative;
}
.program__clause:nth-child(1) {
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(156, 156, 156, 0)), url("/image/cooking-classes.png");
}
.program__clause:nth-child(3) {
  margin-top: 36px;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(156, 156, 156, 0)), url("/image/type-event.png");
}
.program__clause:nth-child(4) {
  top: 60px;
  margin-top: 40px;
  margin-left: 138px;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(156, 156, 156, 0)), url("/image/host-speaks.png");
}
.program__clause:nth-child(2) {
  top: 60px;
  margin-left: 138px;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(156, 156, 156, 0)), url("/image/number.png");
}
.program__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px 0px;
}
.program__roster {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 140px;
}
.program__container {
  display: flex;
}
.program__description {
  font-size: 16px;
  padding-top: 16px;
}
.program__subtitle {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 24px;
  font-weight: 500;
  padding-top: 191px;
}

.speakers {
  padding-bottom: 101px;
}
.speakers .container {
  text-align: center;
}
.speakers__list {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  padding-top: 5px;
}
.speakers__image {
  width: 288px;
  height: 305px;
}
.speakers__item {
  text-align: center;
}
.speakers__subtitle {
  font-weight: 600;
  color: #3C322D;
  padding: 20px 0px;
}
.speakers__desc {
  font-weight: 500;
  font-size: 16px;
  color: #3C322D;
}

.title {
  font-weight: 500;
  font-size: 32px;
  color: #3C322D;
  font-family: "Montserrat Alternates", sans-serif;
}

.button {
  background-color: #F3848C;
  padding: 9px 35px;
  border-radius: 25px;
  color: #FCFCFC;
  border: none;
  font-size: 18px;
}