@use '../utils/variables' as *;

.about {
    padding-top: 90px;

    & .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 32px;
    }

    & .title {
        padding-bottom: 28px;
    }

    &__desc {
        padding-top: 32px;
        line-height: 125%;
        color: $main-text-color;
    }
}