@use '../utils/variables' as *;

.about {
    padding-top: 90px;

    & .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 32px;
    }

    & .title {
        padding-bottom: 28px;
    }

    &__desc {
        padding-top: 32px;
        line-height: 125%;
        color: $main-text-color;
    }
}

@media (max-width:768px) {
    .about {
        &__image {
            width: 336px;
            height: 359px;
        }

        &__desc {
            font-size: 16px;
        }
    }
}

@media (max-width:320px) {
    .about {
        & .container {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        &__image {
            width: 280px;
            height: 285px;
            margin: 0 auto;
        }

    }
}

