@use '../utils/variables' as *;

.button {
    background-color: $line-color;
    padding: 9px 35px;
    border-radius: 25px;
    color: $button-text-color;
    border: none;
    font-size: 18px;
    &--header {
        color: $button-text-color;
        background: linear-gradient(to bottom,#ff8c87 0%,#FD568F 100%);
        padding: 4px 8px;
        border: none;
        border-radius: 0px;
        height: 30px;
        margin-top: 20px;
    }
}