@use '../utils/variables' as *;

.button {
    background-color: $line-color;
    width: 145px;
    padding: 9px 35px;
    border-radius: 25px;
    color: $button-text-color;
    border: none;
    font-size: 18px;
    box-shadow: 10px 15px 25px 0px rgba(232, 183, 183, 0.45);
    &--header {
        color: $button-text-color;
        background: linear-gradient(to bottom,#ff8c87 0%,#FD568F 100%);        
        border: none;
        font-size: 18px;
        margin-left: 20px;
        height: 30px;
        box-shadow: 0px 7px 27px -2px rgba(253, 88, 140, 0.35);
    }
}