@use '../utils/variables' as *;

.header {
    padding-top: 36px;
    padding-bottom: 65px;
    display: flex;
    align-items: center;
    &__wrapper {
        display: flex;
        gap: 55px;
    }

    &__list {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
    }

    &__link {
        color: $main-text-color;
    }

    &__button--background {
        color: $button-text-color;
        background: linear-gradient(to bottom,#ff8c87 0%,#FD568F 100%);
        padding: 4px 8px;
        border: none;
    }
}