@use '../utils/variables' as *;

.header {
    padding-top: 36px;
    padding-bottom: 65px;
    display: flex;
    align-items: center;

    & .container {
        display: flex;
        align-items: center;
    }

    &__wrapper {
        display: flex;
        gap: 55px;
    }

    &__list {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
    }

    &__link {
        color: $main-text-color;
    }

    &__icon {
        fill: $main-text-color;
        width: 158px;
        height: 70px;
    }
}