@use '../utils/variables' as *;

.header {
    padding-top: 36px;
    padding-bottom: 65px;
    
    &__wrapper {
        display: flex;
        gap: 55px;
    }

    &__list {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
    }

    &__link {
        color: $main-text-color;
    }

    &__link--background {
        color: $button-text-color;
        background-image: linear-gradient(to bottom,#ff8c87 0%,#FD568F 100%);
        padding: 6px 8px;
    }
}