@use '../utils/variables' as *;

.hero {
    padding-bottom: 90px;

    &__icon {
        width: 16px;
        height: 16px;
        fill: $main-text-color;
    }

    &__list {
        display: flex;
        gap: 16px;
        padding-top: 32px;
    }

    &__title {
        font-weight: 600;
        font-family: $second-font;
        font-size: 60px;
        line-height: 65px;
        color: $main-text-color;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 24px;
        font-family: $second-font;
        padding-top:20px;
        padding-bottom: 28px;
        color: $main-text-color;
    }
}