@use '../utils/variables' as *;

.hero {
    background-image: url(../image/hero-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

    &__icon {
        width: 16px;
        height: 16px;
        fill: $main-text-color;
    }

    &__list {
        display: flex;
        gap: 16px;
        padding-top: 32px;
    }

    &__title {
        font-weight: 600;
        font-family: $second-font;
        font-size: 60px;
        line-height: 65px;
        color: $main-text-color;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 24px;
        font-family: $second-font;
        padding-top:20px;
        padding-bottom: 28px;
        color: $main-text-color;
    }
}

@media (max-width:768px) {
    .hero {
        &__title {
            font-size: 30px;
        }

        &__subtitle {
            font-size: 16px;
        }

        &__list {
            justify-content: center;
        }
    }
}

@media (max-width:320px) {
    .hero {
        text-align: center;

        &__title {
            font-size: 28px;
        }

        &__subtitle {
            font-size: 16px;
        }
    }
}
