@use '../utils/variables' as *;

.registration {
    padding-bottom: 126px;

    & .container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__wrap {
        display: flex;
        align-items: center;
        border-radius: 10px;
        box-shadow: 10px 15px 25px 0px #D2C9C973;
    }

    &__form {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}