@use '../utils/variables' as *;

.reviews {
    padding: 100px 0;

    & .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__list {
        display: flex;
        align-items: center;
        padding: 28px 0 27px;
        gap: 32px;
    }

    &__item {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 8px;
    }
    
    &__name {
        font-family: $main-font;
        color: $second-text-color;
        font-weight: 500;
        font-size: 16px;
    }

    &__stars-list {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    &__stars-vector {
        width: 24px;
        height: 24px;
    }

    &__text {
        font-family: $main-font;
        color: $main-text-color;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 28px;
        text-align: center;
    }

    &__date {
        font-family: $main-font;
        font-weight: 400;
        font-size: 16px;
    }
}