@use '../utils/variables' as *;

.speakers {
    padding-bottom: 101px;

    & .container {
        text-align: center;
    }

    &__list {
        display: flex;
        gap: 32px;
        justify-content: space-between;
        padding-top: 5px;
    }

    &__image {
        width: 288px;
        height: 305px;
    }

    &__item {
        text-align: center;
    }

    &__subtitle {
        font-weight: 600;
        color: $main-text-color;
        padding: 20px 0px;
    }

    &__desc {
        font-weight: 500;
        font-size: 16px;
        color: $main-text-color;
    }
}

@media (max-width:768px) {
    .speakers {
        &__image {
            width:152px;
            height: 160px;
        }

        &__desc {
            font-size: 14px;
        }
    }
}

@media (max-width:320px) {
    .speakers {
        &__list {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            flex-basis: calc((100% - 30px) / 2);
        }

        &__image {
            width: 130px;
            height: 141px;
        }

        &__desc {
            font-size: 12px;
        }

        &__subtitle {
            font-size: 16px;
            padding: 12px 0px;
        }
    }
}