@use '../utils/variables' as *;

.speakers {
    padding-bottom: 101px;

    & .container {
        text-align: center;
    }

    &__list {
        display: flex;
        gap: 32px;
        justify-content: space-between;
        padding-top: 5px;
    }

    &__image {
        width: 288px;
        height: 305px;
    }

    &__item {
        text-align: center;
    }

    &__subtitle {
        font-weight: 600;
        color: $main-text-color;
        padding: 20px 0px;
    }

    &__desc {
        font-weight: 500;
        font-size: 16px;
        color: $main-text-color;
    }
}