@use '../utils/variables' as *;

.title {
    font-weight: 500;
    font-size: 32px;
    color:$main-text-color;
    font-family: $second-font;
}

@media (max-width:320px) {
    .title {
        text-align: center;
    }
}